
.navbar {
    padding: 1.5rem 3rem;
}

.breadcrumb {
    margin-bottom: 0rem;
}

.mainJumbo > .jumbotron {
    padding: 15rem 2rem;
}

.jumbotron {
    margin-bottom: 0rem;
}

.card-deck {
    margin-right: 15%;
    margin-left: 15%;
}

.map iframe {
    display: block;
    width: 100%;
    height: 500px;
    border: 0;
}